body {
  background-color: rgba(45,162,166,255);
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

#containerPadre {
  background-color: white;
  border-radius: 1em;
}

#logo {
  margin-left: 1em;
}

nav {
  background-color: rgba(251,253,253,255);
  color: #000;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.slide-in-text {
  opacity: 0;
  animation: slide-in 1s ease-in-out forwards;
}

.seccion {
  margin-top: 2.5vw;
  margin-bottom: 5vw;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-text {
  opacity: 0;
}

#logo {
  width: 4vw;
}

.social-icons a {
  margin: 8vw;
  margin-top: 10vw;
  margin-bottom: 5vw;
}

.social-icons a i {
  font-size: 2vw;
  color: #000; 
  transition: text-shadow 0.15s ease-in-out;
}

.social-icons {
  font-size: 1.5rem; /* Tamaño inicial del texto */
}

.social-icons a i:hover {
  text-shadow: #000 2px 2px 4px;
}

@media (max-width: 576px) {
  .social-icons {
    font-size: 2rem; /* Tamaño del texto en dispositivos pequeños */
  }
}

.animated-text {
  text-align: center;
  text-indent: 0em;
}

.card-text {
  text-align: justify;
  text-indent: 0em;
}

footer {
  background-color: #000;
  color: whiter;
}

#filaGris {
  background-color: grey;
}

.imagen-blog {
  width: 50vw;
}

.titulo-articulo {
  margin-top: 5vw;
}

.text-right {
  text-align: right;
}

.enlace {
  color: white;
  text-decoration: none;
  margin: 0.5rem;
}

.enlace:hover {
  text-decoration: underline;
  color: white;
}

.card {
  overflow: hidden;
  margin-top: 10%;
  height: 90%;
}

.card-img-container {
  overflow: hidden;
  height: 200px;
  width: 100%;
}

.card-img-top {
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scaleX(1.2) scaleY(1.2);
}

@media (max-width: 768px) {
  iframe {
    width: 100%;
    height: auto;
  }
}

.carousel-caption {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-indent: 0em;
}

.carousel-caption button {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-container {
  width: 70vw;
}


p {
  text-indent: 3em;
  text-align: justify;
}

#footerText {
  color: white;
}

.font-italic {
  font-style: italic;
}

.font-weight-bold {
  font-weight: bold;
}