body {
  background: linear-gradient(to bottom, white, #a0af82) ;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-text {
  opacity: 0;
  animation: slide-in 1s ease-in-out forwards;
}

.seccion {
  margin-top: 2.5vw;
  margin-bottom: 5vw;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-text {
  opacity: 0;
}

#logo {
  width: 4vw;
}

.social-icons a {
  margin: 8vw;
  margin-top: 10vw;
  margin-bottom: 5vw;
}

.social-icons a i {
  font-size: 2vw;
  color: #000; 
}

.social-icons {
  font-size: 1.5rem; /* Tamaño inicial del texto */
}

@media (max-width: 576px) {
  .social-icons {
    font-size: 2rem; /* Tamaño del texto en dispositivos pequeños */
  }
}


footer {
  background-color: #000;
  color: whiter;
}

#filaGris {
  background-color: grey;
}

.imagen-blog {
  width: 50vw;
}

.titulo-articulo {
  margin-top: 5vw;
}

.text-right {
  text-align: right;
}

.enlace {
  color: white;
  text-decoration: none;
  margin: 0.5rem;
}

.enlace:hover {
  text-decoration: underline;
  color: white;
}