/* BODY Y SECCIONES, ESTILOS GENERALES DE LA PAGINA */

body {
  background-color: rgba(45,162,166,255);
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

#containerPadre {
  background-color: white;
  border-radius: 1em;
  margin-top: 4.8em;
}

/* SECCIONES */

nav {
  background-color: rgba(251,253,253,255);
  color: #000;
  font-weight: bolder;
}

.nav-link {
  margin-left: 1em;
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave al efecto */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.nav-link:hover {
  transform: scale(1.2); /* Aplica una escala del 110% al elemento en el hover */
}

footer {
  background-color: #000;
  color: whiter;
}

#footerText {
  color: white;
}

.navbar-brand {
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave al efecto */
}

.navbar-brand:hover {
  transform: scale(1.2); /* Aplica una escala del 110% al elemento en el hover */
}


.text-right {
  text-align: right;
}

/* LOGO */

#logo {
  margin-left: 1em;
}

#logo {
  width: 3em;
}

/* ICONOS DE REDES */

.social-icons a {
  margin: 4vw;
  margin-bottom: 5vw;
}

.social-icons a i {
  font-size: 1em;
  color: #000; 
  transition: text-shadow 0.15s ease-in-out;
}

.social-icons {
  font-size: 2em; 
}

.social-icons a i:hover {
  text-shadow: #000 2px 2px 4px;
}

p {
  text-indent: 3em;
  text-align: justify;
}

/* ENLACES */

.enlace {
  color: white;
  text-decoration: none;
  margin: 0.5rem;
}

.enlace:hover {
  text-decoration: underline;
  color: white;
}

/* TEXTO ANIMADO */

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-text {
  opacity: 0;
  animation: slide-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-text {
  opacity: 0;
}

.seccion {
  margin-top: 2.5vw;
  margin-bottom: 5vw;
}


@media (max-width: 576px) {
  .social-icons {
    font-size: 2rem; 
  }
}

.animated-text {
  text-align: center;
  text-indent: 0em;
}


/* BLOG Y ARTICULOS */


.imagen-blog {
  width: 50vw;
}

.titulo-articulo {
  margin-top: 5vw;
}



/* TARJETAS */

.card {
  overflow: hidden;
  margin-top: 10%;
  height: 90%;
}

.card-text {
  text-align: justify;
  text-indent: 0em;
}

.card-img-container {
  overflow: hidden;
  height: 200px;
  width: 100%;
}

.card-img-top {
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scaleX(1.2) scaleY(1.2);
}

@media (max-width: 768px) {
  iframe {
    width: 100%;
    height: auto;
  }
}

.card-title {
  overflow: hidden;
  font-size: 1.4em;
}


/* CAROUSEL */

.carousel-caption {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-indent: 0em;
}

.carousel-caption button {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-container {
  width: 65vw;
}


/* FUENTE */

.font-italic {
  font-style: italic;
}

.font-weight-bold {
  font-weight: bold;
}

/* ESTILOS AGREGADOS CON JS */

.descripcionCreada {
  text-align: center;
  text-indent: 0em;
}

/* FUNCION TEXTO AL SCROLLEAR */

.scroll-animation {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1s ease, transform 1s ease;
  text-align: center;
  text-indent: 0em;
}

.scroll-animation.active {
  opacity: 1;
  transform: translateY(0);
}

/* ARREGLO DEL NAV */

.custom-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 20px; 
}

:target::before {
  content: "";
  display: block;
  height: 6em;
  margin: -6em 0 0; 
}

#containerDetalles {
  scroll-padding-top: 120px; 
}


/* MENU HAMBURGUESA */

.navbar-toggler {
  margin-right: 1em;
}